
.p{
    background-color: aquamarine;
    font-size: 100px;
}
.fcontainer{
 display:flex;
 border: 2px solid grey;
 height:170vh;
 /*flex-direction: row-reverse ;
 flex-direction:column-reverse;*/
 /*justify-content: center;*/
 /*justify-content:flex-start;*/
 align-items: flex-end;
 align-items: flex-start;
 flex-wrap:wrap
 /*flex-wrap:wrap-reverse;*/
/*flex-flow:column wrap*/
}
.fitem{
    background-color:blue;
    border:2px solid black;
     padding:12px;
     margin: 12px;
     width:122px;
     height:122px;
}
.item1{
/*order:2;*/
flex-shrink: 2;
align-self: center;
}
.item4{  
    /*order:4;*/
    flex-grow: 3;
    align-self: center;
}

.h1{
    color: blueviolet;
    background-color: aquamarine;

}